var adv_cfg	=	{
	app								:	{
		"view_engine"				: "ejs",												// What view engine are you using?
		"hide_xpb"					: true,												// Should we remove the 'X-Powered-By' header?
		"override_xpb"				: ["X-Powered-By", "Express"],				// Should we override the 'X-Powered-By' header : Array [Header Key, Value] -- only if "hide_xpb" is true
		"compress"					: true,												// Should we use compression?
		"debug_log"				: __dirname + "/debug.log",					// Debug log location
		"session_age"				: 1000*60*8,										// Time in seconds for sessions to stay alive
		"view_dir"					: __dirname + "/application/views"	,		// Views directory location
		"public_dir"					: __dirname + "/application/public",			// Public assets directory location
		"request_timeout"		: 10000,												// Timeout for requests in ms
		"localPort"					: 9005,												// Application port
	},
	
};

module.exports.adv_cfg		= adv_cfg;
require("./application/application.js");